# Python 缓存与编译文件
__pycache__/
*.pyc
*.pyo
*.pyd

# C 语言编译文件
*.exe
*.obj
*.o
*.out

# Java 编译文件
*.class
target/
lib/
.m2/
*.jar

# 通用冗余文件
.DS_Store
*.log

# IDE 配置文件（比如 VS Code、IntelliJ IDEA）
.idea/
.vscode/
*.iml

# 测试与临时文件
*.tmp
*.bak

# 忽略所有层级的临时测试目录
**/test/
**/00-test/