# Web 框架
fastapi==0.109.0
uvicorn==0.27.0
python-multipart==0.0.6

# 数据库
pymongo==4.6.1
pymilvus==2.3.5

# LangChain 全家桶
langchain==0.1.5
langchain-community==0.0.17
langchain-text-splitters==0.0.1

# 阿里云 SDK
dashscope==1.14.1

# 工具
python-dotenv==1.0.0
pydantic==2.6.0
pydantic-settings==2.1.0


# pip install -r requirements.txt -i https://pypi.tuna.tsinghua.edu.cn/simple
